.left_side_anchor{
    -fx-background-color:  linear-gradient(to bottom,#11463c,#11465f);
}

.left_side_anchor VBox{
    -fx-alignment: center;
    -fx-spacing: 10;
}

.left_side_anchor Text{
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri";
}

.left_side_anchor_headerText{
    -fx-font-weight: bold;
    -fx-fill: #fac783;
}

.left_side_anchor_bodyText{
    -fx-fill: #FFFFFF;
}

.right_side_anchor{
    -fx-background-color: #ededed;
    -fx-alignment: center;
    -fx-font-family: "Calibri";
}

.right_side_anchor_headerLabel{
    -fx-font-family: "Calibri";
    -fx-font-size: 2em;
}

.right_side_anchor VBox{
    -fx-alignment: center;
}
.right_side_anchor TextField{
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}

.right_side_anchor PasswordField{
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}
.right_side_anchor Button{
    -fx-pref-width:160;
    -fx-pref-height:40;
    -fx-background-color:#fac783;
    -fx-text-fill:#132A13;
    -fx-font-size:1.5em;
    -fx-font-weight: bold;
    -fx-alignment:center;
    -fx-effect:dropshadow(three-pass-box,#DDDDDD,5,0,0,6);
}
.right_side_anchor HBox{
    -fx-alignment: center;
    -fx-spacing: 20;
}


.right_side_anchor Button:hover{
    -fx-cursor:hand;
    -fx-background-color:#47bf4b;
}

/* Connect To Server*/
.connect_to_server_vbox{
    -fx-spacing: 10;
}

.connect_to_server_vbox_port{
    -fx-spacing: 50;
}

/* Login */

.login_vbox{
    -fx-spacing: 10;
}



/* Sign Up*/

.signup_vbox{
    -fx-spacing: 0;
}

.signup_vbox TextField{
    -fx-pref-height: 30;
}

.signup_vbox Button{
    -fx-font-size: 1.5em;
    -fx-pref-height: 30;
}

.signup_vbox Button:hover{
    -fx-background-color: #f6a446;
}



/*Options */
.options_vbox{
    -fx-spacing: 30;
    -fx-font-size: 1.4em;
    -fx-font-family: "Calibri";
    -fx-wrap-text:  true;
}

.options_vbox Button:hover{
    -fx-cursor:hand;
    -fx-background-color:#ccd2d9;
}

