.make_order{
    -fx-alignment: center;
}

.make_order VBox{
    -fx-alignment: center;
    -fx-spacing:5;
}

.make_order_form{
    -fx-font-family: "Calibri";
    -fx-alignment: center;
}


.make_order_form TextField{
    -fx-pref-width: 150;
    -fx-pref-height: 35;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}

.make_order HBox{
    -fx-alignment: center;
    -fx-spacing: 20;
}

.make_order_form Label{
    -fx-font-family: "Calibri";
    -fx-font-size: 1.3em;
}

.make_order_form_make_order_btn{
    -fx-pref-width:160;
    -fx-pref-height:40;
    -fx-background-color:#fac783;
    -fx-text-fill:#132A13;
    -fx-font-size:1.5em;
    -fx-font-weight: bold;
    -fx-alignment:center;
    -fx-effect:dropshadow(three-pass-box,#DDDDDD,5,0,0,6);
}

.make_order_form_make_order_btn:hover{
    -fx-cursor:hand;
    -fx-background-color:#47bf4b;
}

.make_order_form_cancel_order_btn{
    -fx-pref-width:160;
    -fx-pref-height:40;
    -fx-background-color:#11463C;
    -fx-text-fill:#ffffff;
    -fx-font-size:1.5em;
    -fx-font-weight: bold;
    -fx-alignment:center;
    -fx-effect:dropshadow(three-pass-box,#DDDDDD,5,0,0,6);
}

.make_order_form_cancel_order_btn:hover{
    -fx-cursor:hand;
    -fx-background-color:#e96452;
}

.make_order_form DatePicker{
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}

.make_order_form ComboBox{
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}

.make_order_form ChoiceBox{
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-background-color: #fad29f;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}