.manage_orders{
    -fx-alignment: center;
}

.manage_orders HBox{
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-font-family: "Calibri";
    -fx-font-size:1.5em;
    -fx-font-weight: bold;
}

.manage_orders VBox{
    -fx-alignment: center;
    -fx-spacing: 20;
}

.manage_orders Button{
    -fx-pref-width:160;
    -fx-pref-height:40;
    -fx-background-color:#fac783;
    -fx-text-fill:#132A13;
    -fx-font-size:1.5em;
    -fx-font-weight: bold;
    -fx-alignment:center;
    -fx-effect:dropshadow(three-pass-box,#DDDDDD,5,0,0,6);
}

.manage_orders Button:hover{
    -fx-cursor:hand;
    -fx-background-color:#47bf4b;
}
